*{
    font-family: Verdana, sans-serif;
}

/* HEADER */
header a, nav a{
    text-decoration:none;
}

header {
    padding: 1em 2em;
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap onto the next line */
    align-items: center;
    justify-content: space-between; 
}

header .logo h1{
    font-size: 1.5em;
    color:black;
    font-weight: bold;
    white-space: nowrap;
    margin-bottom: 1em;
}

header .logo{
    order: 1;
    flex-grow: 1;
}

header .search{
    order: 2;
    margin-bottom: 1em;
    flex-grow: 3;
    text-align: center;
}

header .search input[type="text"]{
    padding: .8em;
    width:70%;
    border-radius: 1em 0 0 1em;
    border: 1px solid grey;
}

header .search button[type="submit"] { 
    padding: .8em;
    width:7%;
    min-width: 4em;
    border-radius: 0 1em 1em 0;
    border: 1px solid grey;
    margin-left: -2em;
    background: #38AEE6;
}

header .func{
    order: 3;
    flex-grow: 1;
    margin-bottom: 1em;
    font-size: 1.1em;
    text-align: right;
}

header .func a{
    color:black;
    margin:0 .6em;
}

header .func .bi{
    font-size: 1.2em;
}

header .func .title{
    margin-left:.3em;
}

header .func .cart{
    margin-left:.5em;
}

header .func .carticon{
    position: relative; /* Make the position of cart_count relative to this container */
}

header .func .cart_count{
    position: absolute;
    height: 1.3em;
    width: 1.5em;
    background-color: #569EBD;
    color:white;
    border-radius: 50%;
    bottom:.7em;
    left:1em;
    text-align: center;
    font-size:.83em;
    line-height: 1.3em;
}

/* FOOTER */
footer{
    clear: both; 
    padding:1em 3%;
    margin-top:5em;
    border-top:1px solid gray;
    text-align:center;
}

/* NAVIGATION MENU */
nav ul {
    list-style-type: none;
    background-color: #38AEE6;
    text-align: center;
    margin:0;
}
  
nav li {
    display: inline-block; 
}

nav li a{
    color:white;
    padding:1em;
    display: inline-block;
}

nav li a:hover, header .search button[type="submit"]:hover{
    color:white;
    background-color: #3a8db3;
}

.func a:hover{
    color:#3a8db3;
}

/*Book Record*/
.description-row{
    max-height: 150px;
    overflow-y: scroll;
}

.column-width{
    width: max-content;
}

.column-width-l{
    width: 150px;
}

.column-width-xl{
    width: 200px;
}

h2_var2 {
    font-size: x-large;
    font-weight: bold;
}

.fa-sort{
    cursor: pointer;
    margin-left: 10px;
}