/*Help Container*/
.cta {
    margin-left: 2%;
    margin-top: 2%;
    font-family: Verdana;
    font-weight: bold;
    font-size: 2rem;
}

.formsContainer{
    display: flex;
    flex-wrap: wrap;
    margin-left: 4%;
    margin-right: 4%;
    gap: 4%;
}

.formSubcontainer {
    border: 1px solid #dbd5d5;
    flex:45%;
    float: left;
    margin-top: 2%; 
    text-align: center;
    padding-top: 2%;
    padding-bottom: 3%;
    background-color: #dbd5d542;
}

.label {
    color: black;
    font-family: Verdana;
    font-size: 1.25rem;
    font-weight: bold;
    display: inline;
}

.descContainer {
    text-align: center;
    margin:3% 30% 3% 30%;
}

#feedbackDesc {
    margin-bottom: 3.25%;
}

.descContainer p {
    margin: 0;
}

.helpdeskBtn {
    background-color: #1B99D4;
    width: 50%;
    padding: 2.5%;
    border: 0;
    font-weight: bold;
    border-radius: 1rem;
    margin-left: 3%;
    font-family: Verdana;
    font-size: 0.9rem;
    color: white;
}

.helpdeskBtn:hover, .helpdeskBtn:hover {
    background-color: #167CAC;
}

.feedbackImg {
    width: 25%;
    margin-top: 3%;
}

.complaintImg {
    width: 20%;
    margin-top: 3%;
}

.helpdeskDesc {
    margin-top: 8%;
}
