/*Helpdesk Record*/
.description-row{
    max-height: 150px;
    overflow-y: scroll;
}

.column-width{
    width: max-content;
}

.column-width-l{
    width: 150px;
}

.column-width-xl{
    width: 200px;
}

.heading{
    margin-left: 2%;
    font-size: 2rem;
    font-weight: bold;
    margin-top: 2%;
    margin-bottom: 1%;
}

.title {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    text-align: right;
}

.fa-sort{
    cursor: pointer;
    margin-left: 10px;
}

.tableheading{
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 1%;
    margin-left: 1%;
    text-align: center;
    margin-bottom: 1.5%;
}

#complaintHeader {
    margin-top: 2%;
}
