.heading{
    margin-left: 2%;
    font-size: 2rem;
    font-weight: bold;
    margin-top: 2%;
}

/* The Cards */
.cards_row, .chartsec {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: 3%;
    margin-left: 5%;
}

.cards{
    width:20%;
    border: 1px solid rgb(132, 131, 131);
    border-radius: 3%;
    margin-top:3em;
    box-shadow: 0 0 12px 1px rgb(165, 164, 164);
    padding:1.2em;
    min-width: 18em;
    margin-right:2%;
}

.col {
    float:left;
    width:75%;
}

.cards .title{
    font-size: .9em;
    text-transform: uppercase;
}

.cards .value{
    color: #5a5c69;
}

.cards .icon{
    float:right;
    height:100%;
    width:20%;
    color: #bfc1cb;
    display: flex;
    align-items: center; 
    justify-content: center;
}

.border-left-blue .title{
    color:#006bcf;
}

.border-left-blue{
    border-left: 0.25rem solid #006bcf;
}

.border-left-green .title{
    color:#1bb77e ;
}

.border-left-green{
    border-left: 0.25rem solid #1bb77e ;
}

.border-left-cyan .title{
    color:#36b9cc ;
}

.border-left-cyan{
    border-left: 0.25rem solid #36b9cc  ;
}

.border-left-yellow .title{
    color:#f0b41a ;
}

.border-left-yellow{
    border-left: 0.25rem solid #f0b41a  ;
}

/* The Chart */
.chartsec {
    margin-right: 5%;
}

.chart{
    margin-top:5em;
    text-align: center;
    border: 2px solid #E4E4E4;
    border-radius: 30px;
    height:35em;
}

.charttitle{
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 3%;
}

.linechart{
    width:100%;
}

.chartsize {
    width: 100%;
    height: 80%;
}

.barchart {
    width:65%;
}

.piechart{
    width:30%;
}

.google-visualization-tooltip {
    line-height:1em ;
    text-align: left;
    white-space: nowrap;
    margin:0 !important;
}
