.cartHeader {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 8% 0% 0% 4%;
    font-weight: bolder;
    padding: 2%;
    padding-top: 3%;
    padding-bottom: 3%;
    background-color: rgb(238, 234, 234);
    border: 0.5px solid rgb(185, 183, 183);
}

.emptyHeader, .emptyReco {
    font-size: 1.6rem;
    font-weight: bold;
    margin: 3% 0% 0% 4%;
}

.emptyReco {
    margin-bottom: 2%;
}

.cartItem {
    border: 0.5px solid rgb(185, 183, 183);
    border-top:0cm;
    margin-left: 4%;
    margin-right: 0%;
    padding: 2%;
    padding-left: 4%;
    display:flex;
    align-items:center;
    gap: 2%;
    padding-bottom: 3%;
    padding-top:4%;
    background-color: white;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
}

.coverContainer {
    width :25%;
}

.cover {
    width: 100%;
}

.cartItem .title, .bookPrice {
    font-size: 0.75rem;
}

.bookDetails {
    margin-left: 2%;
    width: 80%;
}

.bookDetails p {
    margin-bottom: 0.5%;
}

.author {
    font-size: 0.65rem;
}

.format {
    font-size: 0.65rem;
    font-weight: bold;
    margin-top: 1rem;
}

.cartItem .instock, .cartItem .outstock {
    font-size: 0.65rem;
}

.cartItem .price {
    font-size: 0.75rem;
    color: #1B99D4;
    font-weight: bold;
}

.incrementButton, .decrementButton {
    height: 1.6rem;
    width:1.6rem;
    border:0.1rem solid rgb(0,0,0,0.7);
    font-size:0.9rem;
    color:black;
}

.quanContainer{
    display:inline-block;
    font-size:0rem;
    margin-top: 3%;
}

.quanInput{
    height: 1.6rem;
    width:2.75rem;
    border:0.1rem solid rgb(0,0,0,0.7);
    border-left: none;
    border-right: none;
    text-align: center;
    font-size:0.8rem;
    color:black;
}

.deleteBtn {
    border: 0;
    font-size: 0.7rem;
    background-color: white;
    margin-left: 30px;
    padding-top: -10px;
    color: #df4759;
}

.cartForm {
    margin-right: 0;
}

.subtotalContainer {
    margin-top: 4.8%;
    border: 1px solid rgb(185, 183, 183);
    height: 10%;
    width: 25%;
}

.labelAmtContainer {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 5%;
}

.detailsContainer {
    display: flex;
    justify-content: space-between;
}

.divider {
    margin-top: -5%;
    width: 90%;
    margin-left: 5%;
    margin-bottom: 0;
}

.subtotal {
    font-weight: bold;
}

.instructLabel {
    font-weight: bold;
    padding-left: 5%;
}

.checkout {
    color: white;
    background-color: #1B99D4;
    width: 70%;
    padding: 3%;
    font-size: 0.9rem;
    border: 0;
    font-weight: bold;
    border-radius: 1rem;
    margin-bottom: 8%;
}

.shopNow {
    color: white;
    background-color: #1B99D4;
    border-radius: 1rem;
    border: 0;
    padding: 0.75%;
    margin-left: 4%;
    margin-top: 1%;
}

.checkoutContainer {
    display: flex;
    justify-content: center;
    background-color: rgb(185, 183, 183);
}

.checkout:hover, .shopNow:hover {
    background-color: #167CAC;
}

.title:hover, .cover:hover {
    cursor:pointer;
}

.checkoutContainer {
    display: flex;
    justify-content: left;
    gap: 1.5%;
}

.shipmentForm, .paymentForm {
    margin-top: 8%;
    width: 100%;
    border: 0.5px solid rgb(185, 183, 183);
    background-color: white;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
}

.shipmentForm label, .paymentForm label {
    font-weight: bold;
    font-size: 0.9rem;
    margin-bottom: 1.5%;
}

.shipmentFields input::placeholder {
    font-size: 0.9rem;
}

.shipmentForm select {
    font-size: 0.9rem;
    margin-bottom: 1.5%;
}

.shipmentForm input, .paymentForm input {
    width: 100%;
    padding: 0.75%;
}

.checkoutSubcontainer {
    flex: 1;
}

.shipmentFields, .paymentFields {
    margin-top: 3%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5%;
}

.shipmentForm .cartHeader {
    margin-left: 0;
    margin-top: 0;
    border: 0;
    border-bottom: 0.5px solid rgb(185, 183, 183);
}

#ccTypeSect {
	display: flex;
	gap: 3%;
}

.ccType {
	border: 1.5px solid red;
	border-radius: 0.25rem;
	cursor: pointer;
	width: auto;
	padding: 0.3rem;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.2rem;
    flex: 1;
}

.ccType p {
	margin: 0;
	color: black;
	font-size: 0.9rem;
}

label[for = "amex"] {
	width: 108%;
}

label[for = "amex"] .ccIcon {
	width: 19%;
}

label[for = "visa"] .ccIcon {
	width: 26%;
}

label[for = "mastercard"] .ccIcon {
	width: 26%;
}

.paymentForm input[type = "radio"] {
	display: none;
}

#ccTypeSect label {
    font-weight: lighter;
}

#ccTypeSect label p {
    font-size: 0.75rem;
}

.ccSub {
    flex: 1;
}

footer {
    background-color: rgb(185, 183, 183);
}
